<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/main.css" rel="stylesheet" />
  </head>
  <body class="grey-bg">
    <%- include('nav.ejs')%>

    <div class="detail-bg">
      <div class="chat-screen">
        <div class="chat-box"><span>안녕하세요</span></div>
        <div class="chat-box"><span>안녕하세요</span></div>
        <div class="chat-box mine"><span>안녕하세요</span></div>
      </div>
    </div>
    <div class="chat-form">
      <input class="chat-input" />
      <button class="chat-button">전송</button>
    </div>

    <!-- 소켓 io 세팅 -->
    <script src="https://cdn.jsdelivr.net/npm/socket.io@4.7.2/client-dist/socket.io.min.js"></script>
    <script>
      // 유저의 웹소켓 연결코드
      const socket = io();

      // (형식)유저 -> 서버 데이터 전송
      // socket.emit('데이터이름작명', '데이터'); // age, 20

      // 유저 -> 서버 room 조인 요청 "ask-join" 은 임의 이름
      // ask-join 이라은 이름으로 1이라는 room에 넣어주셈
      socket.emit('ask-join', 1);

      // 유저 -> 서버 : 메세지 룸에 조인 요청
      document
        .querySelector('.chat-button')
        .addEventListener('click', function () {
          socket.emit('message', { msg: '반가워', room: '1' });
        });

      // (형식) 서버 -> 유저 데이터 수신
      // socket.on('name', (data) => {
      //   console.log(data); // kim
      // });

      // 유저가 룸데이터 수신 하려면
      socket.on('hello', (data) => {
        console.log(data);
      });
    </script>
  </body>
</html>
