<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Myboard</title>
    <link href="/main.css" rel="stylesheet" />
  </head>
  <body class="grey-bg">
    <%- include('nav.ejs')%>
    <div class="wholeWrapper">
      <div class="toLogin">
        <div class="errorMsg">
          로그인한 유저만 접근할 수 있는 페이지 입니다.
        </div>
        <a href="/login">로그인 하러가기</a>
      </div>
    </div>
  </body>
</html>
