<footer class="footer">
  <span>(주)HYUNJUNG | 대표이사 : 김현정 | </span>
  <span>서울특별시 강남구 현정로 817 현정제일빌딩 5F | </span>
  <span>사업제휴문의 : hyunbiz23@naver.com | </span>
  <span>고객센터 : hyunbiz23@naver.com | 02-1234-5678 |</span>
  <span>깃허브 : https://github.com/hjkim1137</span>
</footer>
