<div class="nav">
  <a class="logo" href="/">Home</a>
  <a href="/list">List</a>
  <a href="/write">Write</a>
  <a href="/mypage">Mypage</a>
  <a href="/chat/list">Chat</a>
  <% if(currentUser) { %>
  <a href="/logout">Logout</a>
  <% } else { %>
  <a href="/login">Login</a>
  <% } %>
</div>
