<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Myboard</title>
    <link href="/main.css" rel="stylesheet" />
  </head>
  <body class="grey-bg">
    <%- include('nav.ejs')%>

    <div class="wholeWrapper">
      <form class="loginRegisterBox" action="/register" method="POST" enctype="multipart/form-data">
        <h4 class="formbox-title">회원가입</h4>
        <div class="imgWrapper">
          <img class="nullImg"></img>
        </div>
        <input onchange="setThumbnail(event)" type="file" name="img1" accept="image/*" multiple  class="file"/>
          
        <!-- 이미지 미리보기 -->
        <script>
          function setThumbnail(event) {
            let reader = new FileReader()

            reader.onload = function(event) {
              let img = document.querySelector(".nullImg")
              // 이미지파일 -> base64로 인코딩된 문자열로 저장
              img.setAttribute("src", event.target.result)
            }
            // onload를 트리거 시킴
            reader.readAsDataURL(event.target.files[0])
          }
        </script>
        <input name="username" / placeholder="ID를 입력하세요.">
        <input
          name="password"
          type="password"
          placeholder="8자 이상 비밀번호를 입력하세요."
        />
        <input
          name="password2"
          type="password"
          placeholder="비밀번호를 다시 입력하세요."
        />
        <div class="form-box-btn">
          <button type="submit">가입하기</button>
        </div>
      </form>
    </div>
     
  </body>
</html>
