<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Myboard</title>
    <link href="/main.css" rel="stylesheet" />
    <link href="/main2.css" rel="stylesheet" />
  </head>
  <body class="lightLayout">
    <%- include('header.ejs')%>

    <div class="wrapperGrid">
      <div class="white-bg">
        <form
          class="form-box"
          action="/write/add"
          method="POST"
          enctype="multipart/form-data"
          id="writeForm"
        >
          <h4 class="formbox-title">글쓰기</h4>

          <div class="writeCategoryBox">
            <div>카테고리</div>
            <select name="homeCategory">
              <option value="중고거래">중고거래</option>
              <option value="세일정보">세일정보</option>
              <option value="살림노하우">살림노하우</option>
            </select>
          </div>

          <input
            name="title"
            placeholder="글 제목을 입력해주세요."
            class="input"
          />
          <textarea
            name="content"
            placeholder="글 내용을 입력해주세요."
            class="writeContent input"
          ></textarea>
          <input
            class="input"
            type="file"
            name="img1"
            accept="image/*"
            multiple
          />
          <div class="form-box-btnContainer">
            <button type="submit" class="customBtn">전송</button>
          </div>
        </form>
      </div>
    </div>
    <%- include('footer.ejs')%>
  </body>
</html>

<!-- 게시글 전송 기능 -->
<script>
  let inputs = document.querySelectorAll('.input');

  inputs.forEach((input) => {
    // 1. 엔터키로 전송 막기, 줄바꿈하기
    input.addEventListener('keydown', function (e) {
      if (e.keyCode === 13) {
        e.preventDefault();
        input.value += '\n';
      }
    });

    // 2.전송 버튼 클릭으로 메세지 전송
    input.addEventListener('click', function (e) {
      if (value.trim() == '') {
        e.preventDefault();
      } else {
        document.querySelector('.customBtn').click();
      }
    });
  });
</script>
