/* ROOT */
:root {
  --dark-background-color: #1e1e20;
  --dark-color: #272829;
  --dark-color2: #313233;
  --light-color: #fff;
  --light-color2: #eee;
  --light-color3: #cbd5e1;
  --light-background-color: #f7fafc;
  --light-hover-color: #1e3b59;
  --black-color: #121212;
  --gray-color: #a2a2a2;
  --gray-color2: #dbdbdb;
  --point-color: #ff6d65;
}

/* 공통요소 시작 */

body {
  margin: 0;
  background: var(--light-background-color);
  font-size: 0.875rem;
  font-family: 'Oswald', sans-serif;
}

h4,
li,
ul,
p,
a,
img,
span,
div,
input,
button {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--gray-color);
}
a:hover,
button:hover {
  cursor: pointer;
}

input,
div {
  box-sizing: border-box;
}

button:hover {
  background-color: var(--light-hover-color);
  color: var(--light-color);
}

/* 1.header */
.header {
  width: 100%;
  z-index: 5;
  position: sticky;
  top: 0;
  padding: 10px 20px;
  height: 55px;
  display: flex;
  gap: 16px;
  background-color: var(--light-color);
  align-items: center;
  border-bottom: 1px solid var(--gray-color2);
}
.headerLeft {
  display: flex;
  gap: 5px;
}
.headerDetail {
  height: 45px;
  display: flex;
  gap: 36px;
  align-items: center;
}
.headerDetail > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.header a {
  text-decoration: none;
  color: var(--gray-color);
  font-size: 14px;
}
.header > a:hover {
  color: var(--light-hover-color);
}

.headerLoginRegister {
  display: flex;
  align-items: center;
}
.headerIcon {
  width: 20px;
}
.headerServiceName {
  color: var(--light-hover-color);
  align-self: center;
  font-weight: 700;
  font-size: 21px;
}

.headerToggle {
  color: var(--gray-color);
  align-self: center;
  cursor: pointer;
  margin-left: 10px;
  border: none;
  background-color: transparent;
}
.headerProfileInner {
  gap: 8px;
  cursor: pointer;
  background: none;
  border: none;
  text-align: center;
  font-size: 16px;
  display: flex;
  position: relative;
}
.headerProfileInner:hover {
  background: none;
}
.headerProfileInner > p {
  align-self: center;
  color: var(--gray-color);
}
.headerProfile {
  width: 35px;
  cursor: pointer;
  align-self: center;

  border: none;
  border-radius: 50px;
}
.headerUserProfile {
  border: 2px solid var(--gray-color2);
  width: 35px;
  height: 35px;
  border-radius: 50px;
}
.headerProfileBox {
  display: flex;
  gap: 24px;
  height: 45px;
  align-items: center;
}
.headerLogo {
  width: 40px;
  height: 40px;
}
.logout:hover,
.login:hover {
  color: var(--light-hover-color);
}

/* 2.header-드롭다운 */
.userDropdown {
  display: none;
  box-sizing: border-box;
  background-color: var(--light-color);
  width: 150px;
  font-size: 0.875rem;
  border: 1px solid var(--light-color3);
  border-radius: 0.25rem;
  z-index: 6;
  top: 95%;
  left: 300px;
  position: absolute;
  text-align: center;
  box-shadow: 1px 1px 6px var(--gray-color2);
}
.userDropdown > li {
  height: 40px;
  list-style-type: none;
  padding: 8px 16px;
  display: flex;
  align-items: center;
}
.userDropdown.active {
  display: block;
}
.userDropdown > button {
  cursor: pointer;
  height: 37px;
  padding: 8px 16px;
  background-color: var(--light-color);
  border: none;
}

/* 3.다크모드 */
.dark-mode {
  background-color: var(--dark-background-color);
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.dark-mode .header {
  background-color: var(--dark-background-color);
  border-bottom: 1px solid var(--dark-color);
}
.dark-mode .footer {
  border-top: 1px solid var(--dark-color);
}
.dark-mode .homeTitle,
.dark-mode .errorMsg,
.dark-mode .pageContainer > a,
.dark-mode .listBox-left-inner > div,
.dark-mode .homeGrid2Title,
.dark-mode .homeRank,
.dark-mode .writeCategoryBox > div {
  color: var(--gray-color);
}
.dark-mode input,
.dark-mode textarea {
  background-color: var(--dark-color);
  color: var(--gray-color);
  border: 1px solid black;
}
.dark-mode .userDropdown {
  background-color: var(--dark-color);
  color: var(--gray-color);
  border: 1px solid var(--dark-color2);
  box-shadow: 1px 1px 6px var(--dark-color);
}

.dark-mode button,
.dark-mode .loginRegisterBox > button {
  border: 1px solid black;
  background-color: var(--dark-color);
  color: var(--gray-color);
  border-radius: 5px;
}
.dark-mode .listBox {
  border-bottom: 1px solid var(--dark-color);
}
.dark-mode .white-bg,
.dark-mode .comment-wrapper,
.dark-mode .detailpgBg,
.dark-mode .form-box,
.dark-mode .loginRegisterBox {
  background-color: var(--dark-color2);
  border: none;
}
.dark-mode .homeWritePost,
.dark-mode .homeCategory > a {
  background-color: var(--dark-color2);
  color: var(--gray-color);
}
.dark-mode .customBtn:hover,
.dark-mode .homeWritePost:hover {
  background-color: var(--dark-color2);
  color: var(--light-color);
}
.dark-mode .yourChat {
  background-color: var(--dark-color);
  color: var(--gray-color2);
}
.dark-mode .writerChat {
  background-color: var(--gray-color);
}
.dark-mode .loginRegisterBox > button .dark-mode {
  background-color: var(--dark-color2);
  color: var(--gray-color);
}
.dark-mode .detailpgContent {
  background-color: var(--dark-color2);
  color: var(--gray-color);
  border: none;
}
.dark-mode a,
.dark-mode span,
.dark-mode #page,
.dark-mode .detailpgTitle,
.dark-mode .commentTitle,
.dark-mode .comment-box,
.dark-mode h4 {
  color: var(--gray-color);
}

/* footer  */
.footer {
  margin: 10px 0;
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  color: var(--gray-color);
  padding: 20px 0;
  border-top: solid 1px var(--gray-color2);
}

/* fail 페이지 */
.toLoginBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
}
.tologinBtn {
  text-decoration: none;
  color: var(--gray-color);
  font-size: 16px;
}
.tologinBtn:hover {
  color: var(--light-hover-color);
  font-weight: 700;
}
.errorMsg {
  font-size: 16px;
  color: var(--light-hover-color);
  margin-bottom: 20px;
  font-weight: 500;
}
.errorLogo {
  width: 200px;
}

/* 미디어 쿼리 */

@media (max-width: 1200px) {
  .wrapperGrid {
    max-width: 850px;
  }
}

@media (max-width: 992px) {
  .wrapperGrid {
    max-width: 760px;
  }
  .homeCategory > a {
    width: fit-content;
  }
  div,
  a,
  span,
  button,
  input {
    font-size: 11px !important;
  }
  .footer {
    padding: 20px 16px;
  }
  .userDropdown {
    left: 250px;
  }
}

@media (max-width: 768px) {
  .wrapperGrid {
    max-width: 540px;
  }
  .homeGrid1 {
    flex-basis: 100%;
  }
  .homeGrid2 {
    display: none;
  }
  .headerServiceName {
    display: none;
  }
  .homeCategory {
    gap: 4px;
  }
  .homeCategory > a,
  .homeWritePost {
    font-size: 11px !important;
    padding: 4px 6px;
  }
  .homeWritePost > img {
    width: 10px;
    display: none;
  }
  .listNameDate {
    display: none;
  }
  .customBtn {
    padding: 8px;
    width: fit-content;
  }
  .loginRegisterBox {
    margin: 8px;
    width: auto;
  }
  .detailpgForm input {
    width: 180px;
  }
  .userDropdown {
    width: fit-content;
    left: 210px;
  }
}

@media (max-width: 320px) {
  .wrapperGrid {
    width: 276px;
  }
  .homeGrid1 {
    flex-basis: 100%;
  }
  .homeGrid2 {
    display: none;
  }
  .search {
    width: 180px;
  }
  .headerProfileInner > p {
    display: none;
  }
  .detailpgImg {
    width: auto;
  }
  .detailpgForm input {
    width: 140px;
  }
  .userDropdown > li {
    padding: 4px 8px;
  }
}
